# dependencies
node_modules/

# Next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.*.local

yarn.lock
pnpm-lock.yaml

# TypeScript build info
tsconfig.tsbuildinfo

# misc
.DS_Store
*.pem
npm-debug.log*
